NODE_ENV=production
MONGO_URI=mongodb+srv://abhsingh76_db_user:SBLAQqqzsom630gK@cluster0.fni9tjd.mongodb.net/?appName=Cluster0
JWT_SECRET=92a54f8435449543f7dad76625f77452
DEFAULT_ADMIN_PASSWORD=admin@12345
CLIENT_URL=https://time-table-beige-three.vercel.app
CORS_ORIGINS=https://time-table-beige-three.vercel.app
PUBLIC_APP_URL=https://time-table-beige-three.vercel.app
TRUST_PROXY=true
JSON_BODY_LIMIT=2mb
